#hide {
    width: 40px;
    float: right;
    cursor: pointer;
    position: relative;
    z-index:2;
}

.mainInfo {
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.back {
    margin-left:10px;
}