#hide {
    width: 40px;
    right: 0;
    cursor: pointer;
    position: absolute;
    z-index:2;
}

.mainInfo {
    width:80%;
    
    margin-left: auto;
    margin-right: auto;
}

.back {
    margin-left:10px;
}

h4.title {
    text-align:center;
}

.send {
    text-align:center;
}

    .send button {
        width:50%;
        color:white;
        background:#4EC54E;
    }

