<template>

    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="font-awesome/css/font-awesome.css"></require>
    <require from="../../../styles/buttons.css"></require>

    <div class="back_buttons">
        <button class="btns btnLoginFacebook" click.delegate="loginFacebook()"><span class="fa fa-facebook"></span>Login with Facebook</button>
        <button class="btns btnLoginGoogle" click.delegate="loginGoogle()"><span class="fa fa-google"></span>Login with Google</button>
    </div>

</template>

