<div aurelia-app>
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        System.import("aurelia-bootstrapper");
    </script>
</div>
